<h1><%= @snack.name %></h1>
<h2>Price: <%= number_to_currency(@snack.price) %></h2>
<h3>Locations</h3>
<ul>
  <% @machines.each do |machine| %>
    <li>
      <%= machine.location %> 
      (<%= machine.snacks.total %> kinds of snacks, average price of <%= number_to_currency(machine.snacks.average_price) %>)
  <% end %>